<style>
  body{
  margin-bottom: 0px;
  }
</style>

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>
      {% block title %}Work in progress{% endblock %} |
      Building Company
    </title>
    {% load static %}
    <link
      rel="stylesheet"
      href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}"
    />
    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
  </head>
  <body class ="d-flex flex-column h-100">
    {% include 'nav.html' %}
    <main>
      <div class="container">
        <h1 class="mt-4">{% block header %}{% endblock header %}</h1>
        <div class="container">
          <hr />
        </div>
        {% block content %}{% endblock content %}
      </div>
    </main>
    {% include 'footer.html' %}
  </body>
</html>
