{% extends "base.html" %}
{% block title %}Список запросов{% endblock %} 
{% block header %}Список запросов{% endblock %} 
{%block content %}

<ol id="task">
    <li><a href="{% url 'task_1'%}" class="text-dark">Получите перечень строительных управлений или участков и их руководителей.</a></li>
    <li><a href="{% url 'task_2'%}" class="text-dark">Получите список специалистов инженерно-технического состава обозначенного участка или строительного управления с указанием их должностей.</a></li>
    <li><a href="{% url 'task_3'%}" class="text-dark">Получите перечень объектов, возводимых указанным строительным управлением и/или участком, и графики их возведения.</a></li>
    <li><a href="{% url 'task_4'%}" class="text-dark">Получите состав бригад, работавших (работающих) на строительстве указанного объекта.</a></li>
    <li><a href="{% url 'task_5'%}" class="text-dark">Получите перечень строительной техники, приданной указанному строительному управлению.</a></li>
    <li><a href="{% url 'task_6'%}" class="text-dark">Получите перечень строительной техники, выделенной на указанный объект либо работавшей на объекте в течение указанного периода времени.</a></li>
    <li><a href="{% url 'task_7'%}" class="text-dark">Получите график и смету на строительство указанного объекта.</a></li>
    <li><a href="{% url 'task_8'%}" class="text-dark">Получите отчет о сооружении указанного объекта.</a></li>
    <li><a href="{% url 'task_9'%}" class="text-dark">Получите перечень объектов, возводимых в некотором строительном управлении или в целом по организации, на которых в обозначенный период времени выполнялся указанный вид строительных работ.</a></li>
    <li><a href="{% url 'task_10'%}" class="text-dark">Получите перечень видов строительных работ, по которым имело место превышение сроков выполнения на указанном участке, строительном управлении или в целом по организации.</a></li>
    <li><a href="{% url 'task_11'%}" class="text-dark">Получите перечень строительных материалов, по которым имело место превышение по смете на указанном участке, строительном управлении или в целом по организации.</a></li>
    <li><a href="{% url 'task_12'%}" class="text-dark">Получите перечень видов строительных работ, выполненных указанной бригадой в течение обозначенного периода времени с указанием объектов, где эти работы выполнялись.</a></li>
    <li><a href="{% url 'task_13'%}" class="text-dark">Получите перечень бригад, выполнявших указанный вид строительных работ в течение обозначенного периода времени с указанием объектов, где эти работы выполнялись.</a></li>
</ol>
{% endblock %}